/* Especificidad: 001*/
/* QUITAR LOS IDS DE LA CALCULADORA, USAR LOS VALUES PARA LOS VALORES ESPECIFICOS O EL INPUT TYPE*/
body {
    font-family: Tahoma, sans-serif;
    color: #ffffff;
    background-color:rgb(29, 28, 28);
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    fieldset{
        grid-column: 1;
        grid-row: 2;
    }
    fieldset form{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    /* Especificidad: 001*/
    header{
        grid-column: 1 / span 5;
        grid-row: 1;
    }
       /* Especificidad: 001*/
       h1 {
        color: #ffffff;
        background-color:rgb(29, 28, 28);;
        padding: 2em;
        text-transform: uppercase;
        text-align: center;
       }
       /* Especificidad: 013*/
       fieldset form input[name='pantallaCalc']{
        grid-column: 1 / span 5;
        grid-row: 1 / span 2;
       }
       /* Especificidad: 013*/
       fieldset form input[value='ON']{
        grid-column: 1;
        grid-row: 3;
       }
       /* Especificidad: 013*/
       fieldset form input[value='CE']{
        grid-column: 2;
        grid-row: 3;
       }
       /* Especificidad: 013*/
       fieldset form input[value='-/+']{
        grid-column: 3;
        grid-row: 3;
       }
       /* Especificidad: 013*/
       fieldset form input[value='√x']{
        grid-column: 4;
        grid-row: 3;
       }
       /* Especificidad: 013*/
       fieldset form input[value='%']{
        grid-column: 5;
        grid-row: 3;
       }
       /* Especificidad: 013*/
       fieldset form input[value='7']{
        grid-column: 1;
        grid-row: 4;
       }
       /* Especificidad: 013*/
       fieldset form input[value='8']{
        grid-column: 2;
        grid-row: 4;
       }
       /* Especificidad: 013*/
       fieldset form input[value='9']{
        grid-column: 3;
        grid-row: 4;
       }
       /* Especificidad: 013*/
       fieldset form input[value='*']{
        grid-column: 4;
        grid-row: 4;
       }
       /* Especificidad: 013*/
       fieldset form input[value='/']{
        grid-column: 5;
        grid-row: 4;
       }
       /* Especificidad: 013*/
       fieldset form input[value='4']{
        grid-column: 1;
        grid-row: 5;
       }
       /* Especificidad: 013*/
       fieldset form input[value='5']{
        grid-column: 2;
        grid-row: 5;
       }
       /* Especificidad: 013*/
       fieldset form input[value='6']{
        grid-column: 3;
        grid-row: 5;
       }
       /* Especificidad: 013*/
       fieldset form input[value='-']{
        grid-column: 4;
        grid-row: 5;
       }
       /* Especificidad: 013*/
       fieldset form input[value='mrc']{
        grid-column: 5;
        grid-row: 5;
       }
       /* Especificidad: 013*/
       fieldset form input[value='1']{
        grid-column: 1;
        grid-row: 6;
       }
       /* Especificidad: 013*/
       fieldset form input[value='2']{
        grid-column: 2;
        grid-row: 6;
       }
       /* Especificidad: 013*/
       fieldset form input[value='3']{
        grid-column: 3;
        grid-row: 6;
       }
       /* Especificidad: 013*/
       fieldset form input[value='+']{
        grid-column: 4;
        grid-row: 6 / span 2;
       }
       /* Especificidad: 013*/
       fieldset form input[value='m-']{
        grid-column: 5;
        grid-row: 6;
       }
       /* Especificidad: 013*/
       fieldset form input[value='0']{
        grid-column: 1;
        grid-row: 7;
       }
       /* Especificidad: 013*/
       fieldset form input[value='.']{
        grid-column: 2;
        grid-row: 7;
       }
       /* Especificidad: 013*/
       fieldset form input[value='=']{
        grid-column: 3;
        grid-row: 7;
       }
       /* Especificidad: 013*/
       fieldset form input[value='m+']{
        grid-column: 5;
        grid-row: 7;
       }
       /* Especificidad: 013*/
       fieldset form input[value='env']{
        grid-column: 1;
        grid-row: 8;
       }
