/*********
    Autor: Guillermo de Leiva Martínez - UO246355
    Descripcion de la hoja de estilo
************/
/* Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #E6E6E6;
    background-color:#4A4A4A;
    }
   /* Especificidad: 001*/
   h1 {
    text-transform: uppercase;
    text-align: center;
   }
   h2 {
    text-transform: uppercase;
    text-align: center;
   }
   /* Especificidad: 001*/
   p{
    text-decoration: none;
    color: #E6E6E6;
    background-color:#4A4A4A;
   }