/*********
    Autor: Guillermo de Leiva Martínez - UO246355
    Descripcion de la hoja de estilo
************/
   /* Especificidad: 001*/
   body{
       display: grid;
       grid-gap: 2em;
   }
   /* Especificidad: 001*/
   header{
      grid-column: 1;
      grid-row: 1;
   }
   /* Especificidad: 001*/
   nav{
      justify-self: start;
      grid-column: 1;
      grid-row: 2;
   }
    /* Especificidad: 001*/
   main{
      grid-column: 1;
      grid-row: 3;
   }
   /* Especificidad: 001*/
   footer{
        grid-column: 1;
        grid-row: 7;
   }
    /* Especificidad: 001*/
   picture{
        grid-column: 1;
        grid-row: 5;
   }
   /* Especificidad: 001*/
   video{
        grid-column: 1;
        grid-row: 6;
     }