/*********
    Autor: Guillermo de Leiva Martínez - UO246355
    Descripcion de la hoja de estilo
************/
/* Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #E6E6E6;
    background-color:#4A4A4A;
    display: flex;
    flex-direction: column;
    }
/* Especificidad: 001*/   
main{
       max-width: 100%;
       height: 50em;
   }