/*********
    Autor: Guillermo de Leiva Martínez - UO246355
    Descripcion de la hoja de estilo
************/
/* Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: black;
    background-color:aqua;
    }
   /* Especificidad: 001*/
   h1 {
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
   }
   /* Especificidad: 001*/
   header{
       display: flex;
       flex-direction: column;
       gap: 1em;
       background-color: aqua;
       color: black;
   }
   /* Especificidad: 001*/
   nav{
       display: flex;
       flex-direction: row;
       gap: 8%;
       color: black;
       background-color:aqua;
       padding: 2em; 
       flex-wrap: wrap;
   }
   /* Especificidad: 002*/
   nav a{
       color: black;
       background-color:aquamarine;
   }
   /* Especificidad: 001*/
   main{
       display: flex;
       flex-direction: column;
       gap: 1em;
       font-family: Tahoma, sans-serif;
       color: black;
       background-color: aqua;
       }
   /* Especificidad: 001*/
   footer{
       display: flex;
       flex-direction: row;
       gap: 100%;
       background-color: aqua;
   }
   /* Especificidad: 001*/
   video{
       max-width: 100%;
       height: auto;
     }
     /* Especificidad: 001*/
   img {
       max-width: 100%;
       height: auto;
     }